@model School_DB_project.Models.Course

@{
    ViewBag.Title = "حذف الدورة";
}

<h2>حذف الدورة</h2>

<h3>هل أنت متأكد أنك تريد حذف هذه الدورة؟</h3>
<div>
    <h4>تفاصيل الدورة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
