@model IEnumerable<School_DB_project.Models.Course>

@{
    ViewBag.Title = "قائمة الدورات";
}

<h2 class="text-primary">قائمة الدورات</h2>

<p>
    @Html.ActionLink("إضافة دورة جديدة", "Create", null, new { @class = "btn btn-primary mb-3" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>اسم المعلم: </strong>@Html.DisplayFor(modelItem => item.Teacher.Name)</p>
                    <p class="card-text"><strong>اسم الماده: </strong>@Html.DisplayFor(modelItem => item.Name)</p>




                </div>
                <div class="card-footer text-center">
                    @Html.ActionLink("تعديل", "Edit", new { id = item.CourseId }, new { @class = "btn btn-warning btn-sm mx-1" })
                    @Html.ActionLink("حذف", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger btn-sm mx-1" })
                </div>
            </div>
        </div>
    }
</div>
